
.icon-devpost:before { content: '\e800'; } /* '' */
.icon-github:before { content: '\f09b'; } /* '' */
.icon-mail:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */